:root {
  --c-pride-blue: #001a98;
  --c-pride-orange: #ff8d00;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.15rem;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 1px solid transparent;
  outline-offset: 4px;
  box-shadow: 0 0 0 0.15rem var(--c-pride-orange);
  border-radius: 0.1rem;
}

a,
a:visited {
  color: var(--c-pride-blue);
}

a:hover,
a:focus {
  color: #000;
}

/** Icon class to style icons **/

.icon {
  width: 36px;
  height: 36px;
  stroke: "currentColor";
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/** Utility classes **/
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
