.header a,
.header a:visited {
  text-decoration: none;
}

.header > a::after {
  content: "";
  margin-top: -0.18rem;
  display: block;
  height: 0.15rem;
  width: 100%;
  background: rgb(229 0 0);
  background: linear-gradient(
    90deg,
    rgb(229 0 0 / 100%) 17%,
    rgb(255 141 0 / 100%) 34%,
    rgb(255 238 0 / 100%) 51%,
    rgb(2 129 33 / 100%) 67%,
    rgb(0 76 255 / 100%) 84%,
    rgb(119 0 136 / 100%) 100%
  );
}

.header a:hover::after,
.header a:focus::after {
  background: rgb(255 255 255);
  background: linear-gradient(
    90deg,
    rgb(255 255 255 / 100%) 20%,
    rgb(255 175 199 / 100%) 40%,
    rgb(115 215 238 / 100%) 60%,
    rgb(97 57 21 / 100%) 80%,
    rgb(0 0 0 / 100%) 100%
  );
}

.header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
}

.navigation > li {
  margin-left: 2.5rem;
}

.navitem {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 1rem;
}

.navitem::after {
  height: 0;
}

.navitem-text {
  text-decoration: underline;
  margin-left: 0.25rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skiplink {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skiplink::after {
  height: 0;
  background-color: transparent;
}

.skiplink:focus {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  text-align: center;
  padding: 0.5rem;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .navigation {
    flex-direction: column;
  }
}
